.Tabs {
    width: 100%;
    height: auto;

    min-height: 350px;
    border-radius: 5px;
    box-shadow: 9px 10px 10px -10px rgba(0,0,0,0.4);
}

ul.nav {
    display: flex;
    
}

ul.nav li {
    padding: 1rem;
    margin-right: 0.5rem;
    list-style: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #eaebef;
}

ul.nav li.active {
    background: var(--white);
}

.outlet {
    width: 100%;
    min-height: 350px;
    background: var(--white);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1rem;
}


.section-appointment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


    height: 40px;
    padding: 0.2rem;
    cursor: pointer;
}

.section-appointment span {
    align-items: center;
} 

.section-appointment .type-appointment {
    visibility:visible;
}

.section-appointment span.type-appointment {
    display: flex;
    align-items: center;
}

.section-appoitment-time {
    display: flex;
}

.section-appoitment-time span {
    margin-right: 1rem;
}

.status-appointment {
    display: flex;
    justify-content: center;
    visibility:visible;
}

@media(max-width: 458px) {
    .section-appointment span.type-appointment {
        visibility: hidden;
    }

    .status-appointment {
        visibility: hidden;
    }

    .section-appoitment-time {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}
